<div class="container py-4 page-animation" style="max-width: 800px;">
    <div *ngIf="especialidad">

        <h2 class="custom-title mb-4">
            {{ especialidad.id ? 'Editar Especialidad: ' + especialidad.nombre : 'Nueva Especialidad' }}
        </h2>
        <div class="form-wrapper">
            <form #form="ngForm">

                <div class="form-group mb-4">
                    <label for="nombre" class="custom-label">Nombre de la Especialidad</label>
                    <input [(ngModel)]="especialidad.nombre" name="nombre" class="form-control custom-input" required
                        #nombre="ngModel" placeholder="Ej: Odontología" />
                    <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="text-danger small mt-1">
                        El nombre es requerido.
                    </div>
                </div>
                <div class="row">
                    <div class="form-group mb-4 col-md-12">
                        <label for="descripcion" class="custom-label">Descripción</label>
                        <input [(ngModel)]="especialidad.descripcion" name="descripcion"
                            class="form-control custom-input" required #descripcion="ngModel"
                            placeholder="Ej: Atención integral de la salud bucal" />
                        <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)"
                            class="text-danger small mt-1">
                            La descripción es requerida.
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-end mt-2 pt-3 border-top" style="border-color: #e2e8f0 !important;">
                    <button (click)="goBack()" class="btn-action btn-back mr-3" type="button">
                        <i class="fa fa-arrow-left"></i> Atrás
                    </button>

                    <button (click)="save()" class="btn-purple-main" [disabled]="form.invalid" type="button">
                        <i class="fa fa-save"></i> {{ especialidad.id ? 'Actualizar' : 'Guardar' }}
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>