<div class="modal-content-custom">

    <div class="modal-header border-0 pb-0">
        <h4 class="custom-title m-0" id="modal-title">{{title}}</h4>
        <button type="button" class="close-btn" aria-describedby="modal-title" (click)="modal.dismiss()">
            <i class="fa fa-times"></i>
        </button>
    </div>

    <div class="modal-body py-4">
        <p class="message-text">
            {{message}}
        </p>
        <p *ngIf="description" class="description-text mt-2">
            {{description}}
        </p>
    </div>

    <div class="modal-footer border-0 pt-0">
        <button *ngIf="showCancelButton" type="button" class="btn-back" (click)="modal.dismiss()">Cancelar</button>

        <button type="button" class="btn-purple-main" (click)="modal.close()">Aceptar</button>
    </div>
</div>